header {
    margin:0;
    padding:0;
    box-sizing:border-box;
    overflow: auto;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:15px;
    line-height: 1.6em;
    padding: 20px;
}

h1 {
    text-align:center;
    align-items:center;
}

p {
    text-align:center;
    align-items:center;
}

li {
    list-style: none;
}

button {
    background-color: rgb(250, 141, 250);
    text-align: none;
}


.container {
    width: 75%;
    margin: 20px auto;
    overflow: auto;
    /* position:relative; */
}

.btn-container {
    display:flex;
    justify-content: center;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

#start-quiz {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    top: 8%;
    left: 50%;
    
}

@media only screen and (max-width:900px) {
   .container {
    width: 90%;
   } 
   
}